# Godot 4+ specific ignores
.godot/
/android/
*.tmp
/bin/**/~*
/art/maps/generated_tiles/

# Locally installed editor plugins that are not part of the committed gameplay build.
/addons/phantom_camera/
/addons/scatter2d/
